@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Inter", "sans-serif";
}

.app {
    padding: 24px;
    margin: 0 auto;
    max-width: 1440px;
    min-height: 100vh;
}

.app.dark main
/*.app.dark header */
{
    background-color: #23272f;
}

.app.light main
/*.app.light header*/
{
    background-color: white;
}

.app.dark p,
.app.dark h3,
.app.dark * {
    color: #f6f7f8;
}

.app.light p,
.app.light h3,
.app.light * {
    color: black;
}