.slider {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 8px;
}

.arrow {
  padding: 4px 10px;
  border: 2px solid #0056b3;
  border-radius: 8px;
  cursor: pointer;
  background-color: transparent;
  font-weight: 500;
}
